<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a Northwind</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Bienvenido a Northwind</h1><br><br>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <a href="/orders" class="btn btn-primary btn-block mb-5">Ordenes</a>
      </div>
      <div class="col-md-6">
        <a href="/products" class="btn btn-success btn-block mb-5">Productos</a>
      </div>
      <div class="col-md-6">
        <a href="/employees" class="btn btn-info btn-block mb-5">Empleados</a>
      </div>
      <div class="col-md-6">
        <a href="/order_search/index" class="btn btn-warning btn-block mb-5">Buscar Ordenes de un empleado</a>
      </div>
      <div class="col-md-6">
        <a href="/products/productoscaros" class="btn btn-danger btn-block mb-5">Productos Mas Caros que el Promedio</a>
      </div></br></br>
    </div></br></br></br>





      

      <h3 class="text-center">Developers</h3></br>
    <div class="container-md d-flex  justify-content-center text-center">
    

    
        <div class="col-md-7 text-center">
            <h5  class="text-center">Maicol Arroyave A</h5>
            <a href="https://www.linkedin.com/in/maicolaa" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/MaicolAA" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div></br></br>
    </div>
   


</div>


  

  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
